{% load static %}

<!--Main Footer-->
<footer class="main-footer">
    <!--Footer Bar-->
    <div class="footer-bar">
        <div class="auto-container">
            <ul>
                <li><a href="#"><span class="icon flaticon-location-2"></span>See Map</a></li>
                
                </li><li><a href="{% url 'blog' %}">Amenities</a></li>
                            <li><a href="{% url 'prog' %}">Progress</a></li>
                <li><a href="#" class="scroll-to-target" data-target=".main-header"><span
                            class="up-arrow flaticon-arrows-4"></span>Scroll up</a></li>
                            <a href="https://wa.me/923352115333" class="whatsapp_float" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
                            
            </ul>
        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="centered-content">
                <div class="logo"><a href="{% url 'home' %}"><img width="150px" src="{% static 'website/images/logo/logo-footer.png' %}" alt=""></a></div>
                <div class="copyright"><a target="_blank" href="https://growdigitalcare.com/">Website Developed By Grow Digital Care</a>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 upper-column info-box">
                        <div class="icon-box"><span class="flaticon-location-2"></span></div>
                        <div class="text" style="color: black !important;">
                            <a href="https://goo.gl/maps/Sn7KCQbExDznwVkJ6">
                                Adjacent WAPDA Housing Society,
Opposite FC Colony New Hanna Bypass, Quetta

                            </a>
                        </div>
                    </div>
    
                    <!--Info Box-->
                    <div class="col-md-4 upper-column info-box">
                        <div class="icon-box"><span class="flaticon-clock-1"></span></div>
                        <div class="text">Monday-Friday : 9:00 AM to 7:00 PM <br>Sunday : Closed</div>
                    </div>
    
                    <!--Info Box-->
                    <div class="col-md-4 upper-column info-box">
                        <div class="icon-box"><span class="flaticon-technology-5"></span></div>
                        <div class="text">03126622226,0301-2270333,0302-2270333 <br>info@alhudaresidencia.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span
    class="icon fa fa-long-arrow-up"></span></div>


<!--Gallery Popup-->
<div class="gallery-box" id="gallery-popup">
<!--Bg Fade Layer-->
<div class="bg-fade-layer"></div>

<div class="popup-container">
    <div class="popup-content">

        <div class="popup-header">
            <button type="button" class="btn-close"><span class="fa fa-close"></span></button>
            <h3>Bed Room Interior Design</h3>
        </div>

        <div class="content-outer">

            <!--Vertical Slider-->
            <div class="vertical-slider">

                <!-- template -->
                <div class="ms-vertical-template  ms-tabs-vertical-template">
                    <!-- masterslider -->
                    <div class="master-slider ms-skin-default" id="masterslider">

                        <div class="ms-slide">
                            <img src="{% static 'website/css/masterslider/style/blank.gif' %}" data-src="{% static 'website/images/gallery/34.jpg' %}"
                                alt="" />
                            <img class="ms-thumb" src="{% static 'website/images/gallery/thumb-9.jpg' %}" alt="thumb" />
                        </div>

                        <div class="ms-slide">
                            <img src="{% static 'website/css/masterslider/style/blank.gif' %}" data-src="{% static 'website/images/gallery/34.jpg' %}"
                                alt="" />
                            <img class="ms-thumb" src="{% static 'website/images/gallery/thumb-10.jpg' %}" alt="thumb" />
                        </div>

                        <div class="ms-slide">
                            <img src="{% static 'website/css/masterslider/style/blank.gif' %}" data-src="{% static 'website/images/gallery/34.jpg' %}"
                                alt="" />
                            <img class="ms-thumb" src="{% static 'website/images/gallery/thumb-11.jpg' %}" alt="thumb" />
                        </div>

                        <div class="ms-slide">
                            <img src="{% static 'website/css/masterslider/style/blank.gif' %}" data-src="{% static 'website/images/gallery/34.jpg' %}"
                                alt="" />
                            <img class="ms-thumb" src="{% static 'website/images/gallery/thumb-12.jpg' %}" alt="thumb" />
                        </div>

                        <div class="ms-slide">
                            <img src="{% static 'website/css/masterslider/style/blank.gif' %}" data-src="{% static 'website/images/gallery/34.jpg' %}"
                                alt="" />
                            <img class="ms-thumb" src="{% static 'website/images/gallery/thumb-11.jpg' %}" alt="thumb" />
                        </div>

                        <div class="ms-slide">
                            <img src="{% static 'website/css/masterslider/style/blank.gif' %}" data-src="{% static 'website/images/gallery/34.jpg' %}"
                                alt="" />
                            <img class="ms-thumb" src="{% static 'website/images/gallery/thumb-12.jpg' %}" alt="thumb" />
                        </div>

                    </div>
                    <!-- end of masterslider -->
                </div>
                <!-- end of template -->

            </div>

            <div class="lower-content">
                <div class="desc-text">Liespsum dolor sit amet consectetur adipiscing elited do eiusmod tempor
                    incididunt labore et dolore magna aliquauUt enimad minim veniam quis nostrud exercitation
                    ullamco laboris nisi ut aliquip exea commodo consequated do eiusmod tempor incididunt ut
                    laboreet dolore magna aliquduis iaculis arcu ut hendrerit pharetra elit augue pulvinar magna
                    a consectetur eros quam eu orci.</div>

                <div class="row clearfix">
                    <div class="column col-md-3 col-sm-6 col-xs-12">
                        <!--Styled List-->
                        <ul class="styled-list-one">
                            <li>Full Furnished</li>
                            <li>Royal Touch Painting</li>
                        </ul>
                    </div>

                    <div class="column col-md-3 col-sm-6 col-xs-12">
                        <!--Styled List-->
                        <ul class="styled-list-one">
                            <li>Attach With Fridge</li>
                            <li>Attachd Bath Room</li>
                        </ul>
                    </div>

                    <div class="column col-md-3 col-sm-6 col-xs-12">
                        <!--Styled List-->
                        <ul class="styled-list-one">
                            <li>Large Play Ground</li>
                            <li>Swimming Pool</li>
                        </ul>
                    </div>

                    <div class="column col-md-3 col-sm-6 col-xs-12">
                        <!--Styled List-->
                        <ul class="styled-list-one">
                            <li>Full Furnished</li>
                            <li>Royal Touch Painting</li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>

    </div>
    <!--popup-content -->
</div>
<!-- popup-container -->
</div>
<!-- Gallery Box -->


<script src="{% static 'website/js/jquery.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/revolution.min.js' %}"></script>
<script src="{% static 'website/js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'website/js/isotope.js' %}"></script>
<script src="{% static 'website/js/owl.js' %}"></script>
<!--Locations Map JS-->
<script src="http://maps.google.com/maps/api/js?v=3"></script>
<script src="{% static 'website/js/jquery.gmap.js' %}"></script>
<!--Locations Map End-->
<script src="{% static 'website/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'website/js/masterslider/masterslider.js' %}"></script>
<script src="{% static 'website/js/wow.js' %}"></script>
<script src="{% static 'website/js/script.js' %}"></script>
<script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
{% block footercontent %}
{% endblock %}
</body>

</html>