{%load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Stylesheets -->
    <link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/revolution-slider.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/mystyle.css' %}" rel="stylesheet">
    <!-- Responsive -->
    <link rel="shortcut icon" href="{% static 'website/images/logo/logo12.jpeg' %}" />
    <link href="{% static 'website/css/responsive.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    {% block metatagsofpage %}
    
    {% endblock %}
</head>

<body>
    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        